html, body{
    background-color: black;
    height: 100%;
    margin: 0;
    cursor: none;
}

*{
    cursor: none !important;
}

#trail {
    border-radius: 10px;
    width: 20px;
    height: 20px;
    position: fixed;
    pointer-events: none;
    animation-name: FadeOutandChangeColor;
    animation-duration: 0.51s;
    animation-play-state: running;
}

button{
    border-color: orange;
    background-color: transparent;
    color:white;

    animation-name: change_color;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

button:hover{
    animation-play-state: running;
}

h1{
    color: white;
}

.falsch:active{
    animation-name: wrong;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.richtig:active{
    animation-name: correct;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.Frage{
    font-size:40px;
}

@keyframes change_color {
    0% {border-color: orange;}
    20% {border-color: red;}
    40% {border-color: green;}
    60% {border-color: blue;}
    80% {border-color:pink;}
    100% {border-color: orange;}
}

@keyframes FadeOutandChangeColor{
    0% {
        opacity: 1;
        background-color: orange;
    }
    20% {
        background-color: red;
    }
    40% {
        background-color: green;
    }
    60% {
        background-color: blue;
    }
    80% {
        background-color: pink;
    }
    100% {
        opacity: 0;
        background-color: orange;
        visibility: hidden;
    }
}

@keyframes wrong {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    75% { transform: rotate(15deg); }
    100% { transform: rotate(0deg); }
}

@keyframes correct{
    0% {transform: translateY(0);}
    50% {transform:translateY(-10px)}
    100%{transform:translateY(0)}
}